<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top colorBlue noBorder">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/"><img src="~/Content/Img/Logo2.png" /></a>
                </div>
                <div class="navbar-collapse collapse col-sm-offset-4 colorWhite">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("SERVICES", "Services", "Home")</li>
                        <li>@Html.ActionLink("APIS", "Index", "Integration")</li>
                        @if(User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("APPLICATION","Index","Application")</li>
                        }
                        <li>@Html.ActionLink("PAYMENT", "Index", "Payment")</li>
                        <li>@Html.ActionLink("CONTACT US", "Index", "ContactUs")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    
        @RenderBody()
    <div class="container body-content">
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
